
/*----------------------------------------------------------------------------------------
    This file contains the project variables. 7-1 CSS Architecture.
----------------------------------------------------------------------------------------*/

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-dark-grey: #777;
$color-black: #000;

// Grid variables.
$grid-width: 144rem;
$vertical-spacing: 8rem;
$horizontal-spacing: 6rem;